<div *ngIf="showBusyText?.length > 0" class="setbusyText">
    {{ showBusyText }}
</div>
<div [style.display]="loader" class="loading"></div>
<app-message [messageResponse]="setmessage"></app-message>
<!-- <img src="[setImagePath]"/> -->

<!-- SET POPUP DYNAMIC -->
<!-- {{setAllData.length + 'length'}}  -->

<div *ngIf="setAllData.length > 0" [ngClass]="showPopUp == 'block' ? 'loading1' : 'noclass'">
    <div
        *ngIf="setAllData.length > 0"
        [ngStyle]="{
            display: showPopUp,
            width: setAllData[setAllData.length - 1]?.popup_width,
            height: setAllData[setAllData.length - 1]?.popup_height,
            top: setAllData[setAllData.length - 1]?.popup_top,
            'max-height': setAllData[setAllData.length - 1]?.popupMaxHeight,
            position: 'relative'
        }"
        id="modal11"
        class="modal po-md cst-order-modal {{ parentContent !== undefined && !parentContent ? 'noParent' : '' }}"
        [ngClass]="setAllData[setAllData.length - 1]?.popupMaxHeight == undefined || setAllData[setAllData.length - 1]?.popupMaxHeight.length < 2 ? 'setBottom' : 'noclass'"
    >
        <!-- style="max-height:fit-content" -->
        <div class="top-heading buy_orders">
            <span [innerHTML]="setAllData[setAllData.length - 1]?.mainPopuptitle"></span>
            <a
                *ngIf="setAllData[setAllData.length - 1]?.showClose"
                class="close-icon"
                (click)="
                    cancel(
                        setAllData[setAllData.length - 1]?.setparam,
                        setAllData[setAllData.length - 1]?.onCloseRedirect !== undefined ? setAllData[setAllData.length - 1]?.onCloseRedirect : setAllData[setAllData.length - 1].onCloseApi,
                        setAllData[setAllData.length - 1].setHexkey,
                        setAllData[setAllData.length - 1].popup_zindex
                    )
                "
            >
                <i class="fa fa-times"></i
            ></a>
        </div>

        <div class="modal-content start_new_receipt" [ngStyle]="{ width: setAllData[setAllData.length - 1]?.dialogWidth }">
            <div *ngIf="setAllData[setAllData.length - 1]?.showDialog" class="input-field col s12 m12">
                <span id="{{ 'emailadd' + setAllData.length - 1 }}" class="validate" [innerHTML]="setAllData[setAllData.length - 1]?.showText"></span>
            </div>
            <!-- <div *ngIf="setAllData[setAllData.length-1]?.showDialogHtml" class="input-field col s12 m12"> -->
            <div *ngIf="setAllData[setAllData.length - 1]?.showDialogHtml" class="col s12 m12">
                <div id="{{ 'emailaddd' + setAllData.length - 1 }}" class="validate" [innerHTML]="setAllData[setAllData.length - 1].showTextHtml | safeHtml"></div>
            </div>
            <ng-container *ngIf="!setAllData[setAllData.length - 1]?.showDialog">
                <div class="setWidth cst-enquiry">
                    <app-appmenu
                        *ngIf="setAllData[setAllData.length - 1]?.appMenuresponse && setAllData[setAllData.length - 1].appMenuresponse !== undefined"
                        [setAppMenu]="setAllData[setAllData.length - 1].appMenuresponse"
                        (menuChange)="getSelectedAppMenu($event)"
                        (getCheckBoxValue)="sendDataToPrint($event)"
                        class="left-sidebar"
                    ></app-appmenu>

                    <div class="tbl-col" *ngFor="let view of setAllData[setAllData.length - 1]?.displayView">
                        <app-displayview *ngIf="view" [setDisplayView]="view"></app-displayview>
                    </div>
                </div>
                <!--DIV TO SHOW BROWSE FOR FILE UPLOAD-->
                <div *ngIf="showFileUploadPopup">
                    <div [ngStyle]="{ display: uploadOpen }" class="row">
                        <div class="file-field input-field">
                            <div *ngIf="setAllData">
                                {{ setAllData[setAllData.length - 1].showTextPopup }}
                            </div>

                            <div class="btn fa fa-folder-open DTButton">
                                <span class="browsePadding">BROWSE</span>
                                <input
                                    [multiple]="setAllData ? setAllData[setAllData.length - 1].isMultiplePopup : ''"
                                    #fileInput
                                    accept="{{ setAllData ? setAllData[setAllData.length - 1].fileExtensionsPopup : '' }}"
                                    (change)="onSelectFile($event)"
                                    id="files"
                                    name="files"
                                    type="file"
                                />
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" #inputFile [(ngModel)]="filetextinput" name="filetextinput" id="filetextinput" type="text" />
                            </div>
                        </div>
                    </div>

                    <label *ngIf="setAllData[setAllData.length - 1].searchWordsSize > 0" for="searchPhraseInput">Search Words </label>
                    <input
                        *ngIf="setAllData[setAllData.length - 1].searchWordsSize > 0"
                        maxlength="{{ setAllData[setAllData.length - 1].searchWordsSize }}"
                        [(ngModel)]="searchPhraseInput"
                        name="searchPhraseInput"
                        id="searchPhraseInput"
                        type="text"
                    />
                    <div [ngStyle]="{ display: uploadOpen }" class="modal-footer">
                        <div class="footer-btn-col">
                            <span style="color: red">* {{ setAllData[setAllData.length - 1].extensionTextPopup }}</span>
                        </div>
                    </div>
                </div>
                <div class="dyn-custom-align dyn-custom-align-grid" *ngFor="let grid of setAllData[setAllData.length - 1]?.displayGrid; let i = index">
                    <app-displaysubgrid *ngIf="grid" [greetSubresponse]="grid.grid" (sendData)="getData($event)"></app-displaysubgrid>
                    <!-- <div [style.display]="grid.navigationcss" class="setInCenter">29 April -->
                    <div class="centerNavigation {{ !grid.navigationcss && 'invisible' }}">
                        <app-naviagtion id="dynamo_home" *ngIf="grid.navigatinresponse" [naviresponse]="grid.navigatinresponse" (navChanged)="navChangedHandlerPopUp($event, i)"></app-naviagtion>
                    </div>
                </div>

                <app-displaydtForm
                    *ngIf="setAllData[setAllData.length - 1]?.responseDtForm"
                    [getdtForm]="setAllData[setAllData.length - 1].responseDtForm"
                    (sendDtForm)="receiveDtForm($event)"
                    (message)="redirectTo($event, setAllData[setAllData.length - 1].popup_zindex)"
                    [sendDataFromChild]="sendDataFromChild"
                    (hideEntryGridInparent)="hideEntryGrid($event)"
                    [setBtnProperty]="setBtnProperty"
                    (showCustomerName)="setCustomerInHeader($event)"
                    (buttonAPICallSendParent)="cancelInParent($event)"
                    (handleFormDataInParent)="handleMultiPartForm($event)"
                    (hideButtonInparent)="hideButton($event)"
                    [sendDataEntryGrid]="sendDataEntryGrid"
                    [enableButton]="enableButton"
                ></app-displaydtForm>

                <!-----------------Entry Grid-->
                <display-edit-grid
                    *ngIf="setAllData[setAllData.length - 1]?.entryGridPopup"
                    [editGridResponse]="setAllData[setAllData.length - 1]?.entryGridPopup"
                    (sendDtEditGrid)="receiveDtEditGrid($event)"
                    (handleSubmitEditGrid)="submitEditGrid($event)"
                    (setDeletedData)="(deleteResponse)"
                ></display-edit-grid>

                <div *ngFor="let contentPopup of setAllData[setAllData.length - 1]?.htmlEditPopupArr">
                    <form #f="ngForm" (ngSubmit)="saveItemNotepad(f, contentPopup.htmlEdithexkey, contentPopup.getFileName, contentPopup.saveApi)" class="custom-width">
                        <table id="itemNotepad_css" class="{{ contentPopup.tableclass }}">
                            <tr>
                                <th class="top" colspan="99">
                                    {{ contentPopup.inquiryTitle }}
                                </th>
                            </tr>
                            <tr>
                                <td class="notepad" colspan="99">
                                    <div class="form-group">
                                        <simple-tiny [(ngModel)]="contentPopup.pageContent" [isEnhanced]="contentPopup.enhanced" name="content" [setReadOnly]="contentPopup.tinyReadonly"></simple-tiny>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="top" colspan="99">{{ contentPopup.lastrevised }}</th>
                            </tr>
                            <tr>
                                <div id="tinysave_btn">
                                    <button type="submit" style.display="{{ contentPopup.tinyButtion }}" class="DTB-default DTButton DTButton-default">
                                        <i class="fa fa-folder-open" style="margin: 0 6px !important"></i>save
                                    </button>
                                </div>
                            </tr>
                        </table>
                    </form>
                </div>
            </ng-container>
            <!-- ADDED TO HANDLE PROGRESS ON POPUP -->

            <div *ngIf="setAllData[setAllData.length - 1].progressTitle !== '' && setAllData[setAllData.length - 1].progressTitle !== undefined" class="top-heading">
                {{ setAllData[setAllData.length - 1].progressTitle }}
            </div>
            <div *ngIf="setAllData[setAllData.length - 1].valueProgress !== '' && setAllData[setAllData.length - 1].valueProgress !== undefined" class="file-field">
                <div>
                    {{ setAllData[setAllData.length - 1].progressText }}
                </div>
            </div>

            <mat-progress-bar
                name="label"
                *ngIf="setAllData[setAllData.length - 1].valueProgress !== '' && setAllData[setAllData.length - 1].valueProgress !== undefined"
                mode="determinate"
                value="{{ setAllData[setAllData.length - 1].valueProgress }}"
            ></mat-progress-bar>

            <!-- TO HANDLE MULTIPART FORM IN POPUP 31 DEC 2021 -->

            <multi-part-tree
                *ngIf="setAllData[setAllData.length - 1]?.expansionPanelData"
                [showDataExpansion]="setAllData[setAllData.length - 1]?.expansionPanelData"
                (handleCancelInParent)="handleCancelTreeControl($event)"
                (handleSubmitInParent)="handleSubmitTreeControl($event)"
                (handleButtonInParent)="handleButtonInParent($event)"
                [datazIndex]="setAllData[setAllData.length - 1].popup_zindex"
                (widthMultiPart)="setWidthMultiPart($event)"
                [sendDataFromMultiPart]="sendDataFromMultiPart"
                [enableButtonFromParent]="enableButton"
            ></multi-part-tree>

            <div *ngIf="setAllData[setAllData.length - 1]?.buttonresponse && setAllData[setAllData.length - 1].buttonresponse?.length > 0" class="cst-report-page modal-footer">
                <div *ngFor="let item of setAllData[setAllData.length - 1].buttonresponse" class="footer-btn-col {{ item.isEnabled ? '' : 'setDisableBtn' }}">
                    <app-displayButton
                        *ngIf="item.buttonType == 'submit'"
                        [buttonLength]="setAllData[setAllData.length - 1].buttonresponse?.length"
                        [getButtonResponse]="item"
                        (click)="buttonAPICall(item.onPush, item.showMenu, item.action, '', item.buttonType, item.isMultiPart, '', item)"
                        (keydown.space)="buttonAPICall(item.onPush, item.showMenu, item.action, '', item.buttonType, item.isMultiPart, '', item)"
                    ></app-displayButton>
                    <app-displayButton
                        *ngIf="item.buttonType == 'button'"
                        [getButtonResponse]="item"
                        [buttonLength]="setAllData[setAllData.length - 1].buttonresponse?.length"
                        (click)="buttonAPICall(item.onPush, item.showMenu, item.action, undefined, item.buttonType, undefined, setAllData[setAllData.length - 1].popup_zindex, item)"
                        (keydown.space)="buttonAPICall(item.onPush, item.showMenu, item.action, undefined, item.buttonType, undefined, setAllData[setAllData.length - 1].popup_zindex, item)"
                    ></app-displayButton>
                    <app-displayButton
                        *ngIf="item.buttonType == 'print'"
                        [getButtonResponse]="item"
                        [buttonLength]="setAllData[setAllData.length - 1].buttonresponse?.length"
                        (click)="print()"
                        (keydown.space)="print()"
                    ></app-displayButton>
                    <!--  <app-displayButton *ngIf="item.buttonType=='button'" [getButtonResponse]="item" (click)="buttonAPICall(item.onPush,item.showMenu,item.action)"></app-displayButton> -->
                    <app-displayButton
                        *ngIf="item.buttonType == 'cancel'"
                        [buttonLength]="setAllData[setAllData.length - 1].buttonresponse?.length"
                        [getButtonResponse]="item"
                        (click)="cancel(item.action, item.onPush, item.showMenu, setAllData[setAllData.length - 1].popup_zindex)"
                        (keydown.space)="cancel(item.action, item.onPush, item.showMenu, setAllData[setAllData.length - 1].popup_zindex)"
                    ></app-displayButton>
                </div>
            </div>
        </div>
    </div>
</div>

<page-header
    *ngIf="(hideOnMobile && mobileDevice) || !mobileDevice"
    [setCustomerName]="setCustomerName"
    [setcustomerIcon]="customerIcon"
    [setmenuTitle]="setMenuTitle"
    [setTitleProperty]="setMenuProperty"
    [getHeaderData]="getDashboardData"
    (logoutProcess)="showContent($event)"
></page-header>
<!---(logoutProcess)="showContent($event)" Add 26 April2022------>
<app-menushare *ngIf="showMenu && cc !== 'NC'" [getResponse]="setresponse" (sendmessage)="recivemessage($event)"></app-menushare>
<app-menushare *ngIf="showMenu && cc == 'NC' && sideSection < 0" [getResponse]="getDashboardData" (sendmessage)="recivemessage($event)"></app-menushare>

<app-dashboard *ngIf="showMenu && cc == 'NC' && sideSection > 0" [getDashboardData]="getDashboardData" (handleMenuEvent)="recivemessage($event)"></app-dashboard>
<app-dashboard *ngIf="showMenu && cc == 'DS' && sideSection > 0" [getDashboardData]="getDashboardData" (handleMenuEvent)="recivemessage($event)"></app-dashboard>

<!--ADDED FOR PAGE CONTENT-->
<!-- [ngClass]="showPopUp == 'block' ? 'disableParent' : 'enableParent'" -->
<div class="inner-col dynamo-page">
    <div class="containerH" [ngClass]="progressTitle !== undefined && progressTitle !== '' ? 'setTitleStyle' : 'noclass'">
        <div [style.display]="loader" class="loading"></div>
        <div [ngStyle]="{ width: formWidth }" class="custom-top-grid">
            <app-displayview *ngIf="displayViewresponse" [setDisplayView]="displayViewresponse"></app-displayview>

            <div *ngFor="let grid of displaySubGridPageArr; let i = index" class="dyn-custom-align dyn-custom-align-grid">
                <app-displaysubgrid *ngIf="grid" [greetSubresponse]="grid.grid" [clientFilter]="grid.clientFilter" (sendData)="getData($event)"></app-displaysubgrid>
                <div class="centerNavigation {{ !grid.navigationcss && 'invisible' }}">
                    <app-naviagtion id="dynamo_home" *ngIf="grid.navigatinresponse" [naviresponse]="grid.navigatinresponse" (navChanged)="navChangedHandler($event, i)"></app-naviagtion>
                </div>
            </div>

            <display-edit-grid
                *ngIf="responseEditGrid"
                [editGridResponse]="responseEditGrid"
                (sendDtEditGrid)="receiveDtEditGrid($event)"
                (handleSubmitEditGrid)="submitEditGrid($event)"
            ></display-edit-grid>

            <multi-part-tree
                *ngIf="expansionPanelData"
                [showDataExpansion]="expansionPanelData"
                (handleCancelInParent)="handleCancelTreeControl($event)"
                (handleSubmitInParent)="handleSubmitTreeControl($event)"
                (handleButtonInParent)="handleButtonInParent($event)"
                (widthMultiPart)="setWidthMultiPart($event)"
                [sendDataFromMultiPart]="sendDataFromMultiPart"
                [enableButtonFromParent]="enableButton"
            ></multi-part-tree>
            <!--  [enableButton] added 19 april -->
            <!--  added 12 july -->
            <tree-control *ngIf="treeControlMenu" [treeControlMenu]="treeControlMenu" (handleResInParent)="handleResTree($event)"></tree-control>
            <app-displaydtForm
                *ngIf="responseDtFormPage"
                [getdtForm]="responseDtFormPage"
                (sendDtForm)="receiveDtForm($event)"
                [sendDataFromChild]="sendDataFromChild"
                (message)="redirectTo($event)"
                (hideEntryGridInparent)="hideEntryGrid($event)"
                [setBtnProperty]="setBtnProperty"
                (showCustomerName)="setCustomerInHeader($event)"
                (buttonAPICallSendParent)="cancelInParent($event)"
                (handleFormDataInParent)="handleMultiPartForm($event)"
                (hideButtonInparent)="hideButton($event)"
                [sendDataEntryGrid]="sendDataEntryGrid"
                (handleFormDataInParent)="handleMultiPartForm($event)"
                [enableButton]="enableButton"
                [validateEntryOnForm]="validateEntryOnForm"
            ></app-displaydtForm>

            <!--   code to render div for file upload  style="margin-top:5px;" -->

            <div *ngIf="showTextUpload !== '' && showTextUpload !== undefined" class="row" style="margin-top: 5px">
                <div class="top-heading">
                    {{ showTitleUpload }}
                </div>
                <div class="file-field input-field">
                    <div>
                        {{ showTextUpload }}
                    </div>
                    <div class="btn fa fa-folder-open DTButton">
                        <span class="browsePadding">BROWSE</span>
                        <input [multiple]="isMultiple" #fileInput accept="{{ fileExtensions }}" (change)="onSelectFile($event)" id="files" name="files" type="file" />
                    </div>

                    <div class="file-path-wrapper">
                        <span style="color: red">* {{ extensionText }}</span>
                        <input class="file-path validate" #inputFile [(ngModel)]="filetextinput" name="filetextinput" id="filetextinput" type="text" />
                    </div>
                </div>

                <label *ngIf="searchWordsSize > 0" for="searchPhraseInput">Search Words </label>
                <input *ngIf="searchWordsSize > 0" maxlength="{{ searchWordsSize }}" [(ngModel)]="searchPhraseInput" name="searchPhraseInput" id="searchPhraseInput" type="text" />
            </div>
            <!-- CODE TO HANDLE DIALOG HTML ON PAGE START -->
            <div *ngIf="showDialogHtmlPage" class="dialog-html-page" [ngStyle]="{ width: dialogPageWidth }">
                <div class="modal-content start_new_receipt dialog-html">
                    <div class="dialog-html-title">
                        <div class="top-heading" [innerHTML]="showDialogTitle"></div>
                    </div>
                    <div *ngIf="showTextDialogPage" class="input-field dialog-html-content">
                        <div class="validate" [innerHTML]="showTextDialogPage | safeHtml"></div>
                    </div>
                </div>
            </div>
            <!-- CODE TO HANDLE DIALOG HTML ON PAGE END -->
            <!-- ADDED TO HANDLE TYPE PROGRESS 11 OCT 2021 START-->
            <div *ngIf="progressTitle !== '' && progressTitle !== undefined">
                <div *ngIf="progressTitle !== '' && progressTitle !== undefined" class="top-heading">
                    {{ progressTitle }}
                </div>
                <div *ngIf="valueProgress !== '' && valueProgress !== undefined" class="file-field">
                    <div>
                        {{ progressText }}
                    </div>
                </div>
                <mat-progress-bar name="label" *ngIf="valueProgress !== '' && valueProgress !== undefined" mode="determinate" value="{{ valueProgress }}"></mat-progress-bar>
            </div>
            <!-- ADDED TO HANDLE TYPE PROGRESS 11 OCT 2021 END-->

            <!-- CODE TO HANDLE HTMLEDIT ON PAGE START -->

            <div *ngFor="let htmlContent of htmlEditPageArr" style="margin-bottom: 15px">
                <form #f="ngForm" (ngSubmit)="saveItemNotepad(f, htmlContent.htmlEdithexkey, htmlContent.getFileName, htmlContent.saveApi)" class="custom-width">
                    <table id="itemNotepad_css" class="{{ htmlContent.tableclass }}">
                        <tr>
                            <th class="top" colspan="99">{{ htmlContent.inquiryTitle }}</th>
                        </tr>
                        <tr>
                            <td class="notepad" colspan="99">
                                <div class="form-group">
                                    <simple-tiny [(ngModel)]="htmlContent.pageContent" [isEnhanced]="htmlContent.enhanced" [setReadOnly]="htmlContent.tinyReadonly" name="content"></simple-tiny>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="top" colspan="99">{{ htmlContent.lastrevised }}</th>
                        </tr>
                        <tr>
                            <div id="tinysave_btn">
                                <!--  class="fa fa-arrow-circle-o-right" -->
                                <button type="submit" style.display="{{ htmlContent.tinyButtion }}" class="DTB-default DTButton DTButton-default">
                                    <i class="fas fa-arrow-alt-circle-right" style="margin: 0 6px !important"></i>save
                                </button>
                            </div>
                        </tr>
                    </table>
                </form>
            </div>
            <!-- CODE TO HANDLE  HTMLEDIT ON PAGE END -->

            <!--  end code to render div for file upload -->
            <ng-container *ngIf="showMainContent">
                <!--  [ngClass]="(isPopupInForm == 'block' || showPopUp == 'block')  ? 'disableButton' : 'enableButton'" -->

                <div *ngIf="buttonresponsePage.length != 0 && !showMenu" class="cst-report-page modal-footer buttonAlign">
                    <div *ngFor="let item of buttonresponsePage" class="footer-btn-col {{ item.isEnabled ? '' : 'setDisableBtn' }}">
                        <!-- MODIFIED CODE 20 APRIL (click)="buttonAPICall(item.onPush,item.showMenu,item.action)-->
                        <span *ngIf="item.isHidden">
                            <app-displayButton
                                *ngIf="item.buttonType == 'button' && item.isHidden == false"
                                [getButtonResponse]="item"
                                (click)="buttonAPICall(item.onPush, item.showMenu, item.action, '', '', '', '', item)"
                                (keydown.space)="buttonAPICall(item.onPush, item.showMenu, item.action, '', '', '', '', item)"
                                [buttonLength]="buttonresponsePage.length"
                            ></app-displayButton>
                            <app-displayButton
                                *ngIf="item.buttonType == 'print' && item.isHidden == false"
                                [getButtonResponse]="item"
                                (click)="print()"
                                (keydown.space)="print()"
                                [buttonLength]="buttonresponsePage.length"
                            ></app-displayButton>
                            <app-displayButton
                                *ngIf="item.buttonType == 'cancel' && item.isHidden == false"
                                [getButtonResponse]="item"
                                (click)="cancel(item.action, item.onPush, item.showMenu)"
                                (keydown.space)="cancel(item.action, item.onPush, item.showMenu)"
                                [buttonLength]="buttonresponsePage.length"
                            ></app-displayButton>
                        </span>
                        <span *ngIf="!item.isHidden">
                            <app-displayButton
                                *ngIf="item.buttonType == 'button'"
                                [getButtonResponse]="item"
                                (click)="buttonAPICall(item.onPush, item.showMenu, item.action, '', '', '', '', item)"
                                (keydown.space)="buttonAPICall(item.onPush, item.showMenu, item.action, '', '', '', '', item)"
                                [buttonLength]="buttonresponsePage.length"
                            ></app-displayButton>
                            <app-displayButton
                                *ngIf="item.buttonType == 'print'"
                                [getButtonResponse]="item"
                                (click)="print()"
                                (keydown.space)="print()"
                                [buttonLength]="buttonresponsePage.length"
                            ></app-displayButton>
                            <app-displayButton
                                *ngIf="item.buttonType == 'cancel'"
                                [getButtonResponse]="item"
                                (click)="cancel(item.action, item.onPush, item.showMenu)"
                                (keydown.space)="cancel(item.action, item.onPush, item.showMenu)"
                                [buttonLength]="buttonresponsePage.length"
                            ></app-displayButton>
                        </span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
